[submodule "packages/velocity"]
	path = packages/velocity
	url = git@github.com:meteor-velocity/velocity.git
[submodule "packages/html-reporter"]
	path = packages/html-reporter
	url = git@github.com:meteor-velocity/html-reporter.git
[submodule "packages/test-in-velocity"]
	path = packages/test-in-velocity
	url = git@github.com:spacejamio/test-in-velocity.git
[submodule "packages/tinytest-velocity"]
	path = packages/tinytest-velocity
	url = git@github.com:spacejamio/tinytest-velocity.git
[submodule "packages/loglevel"]
	path = packages/loglevel
	url = git@github.com:spacejamio/meteor-loglevel.git
[submodule "packages/mconfig"]
	path = packages/mconfig
	url = git@github.com:practicalmeteor/meteor-mconfig.git
[submodule "packages/underscore-deep"]
	path = packages/underscore-deep
	url = git@github.com:practicalmeteor/meteor-underscore-deep.git
