# Use the new docker based infrastructure
sudo: false

language: node_js
node_js:
- 0.10.40

notifications:
  slack:
    secure: Sp0XScJQvQJmAD842c3+NRfcz/kmY3t01vyqcqywGBp+AtpYrTCT8ZXWzxSsS5+0Zyxbw5qHo+cApjvaP3pWKRYYoCz8OQ41cJ5m7CauvRXhLNlGph9fzSk5f1s6Ut1efXlFRY/DQhFPuHw8OdsrahIrgoLSYoJvPU3oc2aBszo=

git:
  submodules: false

# On travis's new docker based sudoless infastructure, meteor can't be linked to /usr/local/bin,
# so we have to add meteor to the PATH
before_install:
- sed -i 's/git@github.com:/https:\/\/github.com\//' .gitmodules
- git submodule update --init --recursive
- curl https://install.meteor.com | /bin/sh
- export PATH="$HOME/.meteor:$PATH"
- meteor --version
- npm install -g coffee-script@1.8.0
- phantomjs -v
